body{
    background-color: rgba(21, 19, 83, 0.736);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: cyan;
}
.digit{
    font-size: 12rem;
    font-weight: bold;
}
.txt{
    font-size: 4.5rem;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 2.5rem;
}
.btn{
    border-radius: 30%;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    margin: 0rem 1rem;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}
#start{
background-color: rgb(10, 203, 129);
}

#stop{
background-color: rgb(201, 153, 245);
}

#reset{
    background-color: red;
}

@media(max-width:1020px){
    html{
        font-size: 65%;
    }
}


@media(max-width:768){
    html{
        font-size: 45%;
    }
}
